{% load static %}
<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle bg-dark">
    <i><img src="{% static 'assets/img/icons8-python-32.png' %}"></i>
    Python
</a>
<ul class="collapse list-unstyled" id="pageSubmenu">

    <li>
        <a href="#est_dados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle bg-dark">
            <i class="fas fa-copy"></i>
            Fundamentos
        </a>
        <ul class="collapse list-unstyled" id="est_dados">
            <li>
                <a href="#">Programação Procedural</a>
            </li>
            <li>
                <a href="#">Estrutura de Dados</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#functions" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle bg-dark">
            <i class="fas fa-copy"></i>
            Funções
        </a>
        <ul class="collapse list-unstyled" id="functions">
            <li>
                <a href="#">Estrutura</a>
            </li>
            <li>
                <a href="#">Funções Recursivas</a>
            </li>
            <li>
                <a href="#">Funções Geradoras</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#poo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle bg-dark">
            <i class="fas fa-copy"></i>
            POO
        </a>
        <ul class="collapse list-unstyled" id="poo">
            <li>
                <a href="#">Classes</a>
            </li>
            <li>
                <a href="#">Atributos</a>
            </li>
            <li>
                <a href="#">Métodos</a>
            </li>
        </ul>
    </li>
</ul>