{% load static %}
<nav id="sidebar" class="navbar-dark bg-dark">
    <div class="sidebar-header bg-dark">
        <h3>Uadson Feitosa</h3>
        <strong>UF</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#" class="bg-dark">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                Sobre
            </a>

            <a href="#">
                <i class="fas fa-briefcase"></i>
                Tutoriais
            </a>

            <!-- Python -->
            {% include 'models/_python.html' %}

            <!-- Django -->
            {% include 'models/_django.html' %}

        </li>
        <li>
            <a href="#">
                <i class="fas fa-image"></i>
                Portfolio
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                Contato
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Download Currículo</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul>
</nav>