{% load static %}
<nav id="sidebar" class="navbar-dark bg-dark">
    <div class="sidebar-header bg-dark">
        <h3>Uadson Feitosa</h3>
        <strong>UF</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
                <i><img src="{% static 'assets/img/icons8-tutorials-32.png' %}"></i>
                Tutoriais
            </a>

            <!-- Python -->
            {% include 'models/_python.html' %}

            <!-- Django -->
            {% include 'models/_django.html' %}

        </li>
        <li>
            <a href="https://github.com/uadson" target="_blank" rel="noopener noreferrer">
                <i><img src="{% static 'assets/img/icons8-github-32.png' %}"></i>
                Portfolio
            </a>
        </li>

    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Download Currículo</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul>
</nav>