{% load static %}
<section class="resume-section" id="about">
<div class="resume-section-content">
    <h1 class="mb-0">
        Uadson
        <span class="text-primary">Feitosa</span>
    </h1>
    <div class="subheading mb-5">
        Brasil - 
        <a href="mailto:name@email.com">contato@uadsonfeitosa.com.br</a>
    </div>
    <p class="lead mb-5">Brasileiro, apaixonado por programação e novas tecnologias. 
        Estou sempre aprendendo algo novo. 
        Tenho satisfação em poder desenvolver soluções para os pobremas encontrados. 
        Tento me atualizar sempre sobre novas tecnologias, lendo artigos, assistindo vídeos, 
        ou fazendo cursos, trabalhando em projetos pessoais nas horas livres, 
        o que me ajuda muito no aprendizado. 
        Estou a procura de oportunidades e desafios os quais me farão crescer tanto 
        pessoalmente quanto profissionalmente. 
        Meu atual objetivo é engajar na área de desenvolvimento web backend. 
    </p>
    <div class="dev-icons">
        <a class="dev-icons" href="https://www.linkedin.com/in/uadsonfeitosa" target="_blank" rel="noopener noreferrer"><i><img src="{% static 'assets/img/in_linked_linkedin_media_social_icon_124259.ico' %}"></i></a>
        <a class="dev-icons" href="https://www.github.com/uadson" target="_blank" rel="noopener noreferrer"><i><img src="{% static 'assets/img/github-logo_icon-icons.com_73546.ico' %}"></i></a>
        <a class="dev-icons" href="https://www.hackerrank.com/uadsoncastro" target="_blank" rel="noopener noreferrer"><i><img src="{% static 'assets/img/hackerrank_button_icon_151894.ico' %}"></i></a>
    </div>
</div>
</section>