{% load static %}
<section class="resume-section" id="education">
<div class="resume-section-content">
    <h2 class="mb-5">Educação</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Universidade Estácio de Sá</h3>
            <div class="subheading mb-3">Tecnologia em Análise e Desenvolvimento de Sistemas</div>
            <div></div>
            <p></p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">2021</span></div>
    </div>
</div>
</section>