{% load static %}
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experiência</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0"> Desenvolvedor Backend(Python/Django/Django Rest Framework)</h3><br>
                <div class="subheading mb-3">Projetos</div>
                <ul class="fa-ul mb-0">
                    {% include 'app/_projects.html' %}
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"></span></div>
        </div>
    </div>
</section>