{% extends 'app/base.html'%}
{% block content %}

<!-- About-->
{% include 'app/_about.html' %}
<hr class="m-0" />

<!-- Experience-->
{% include 'app/_experience.html' %}
<hr class="m-0" />

<!-- Education-->
{% include 'app/_education.html' %}
<hr class="m-0" />

<!-- Skills-->
{% include 'app/_skills.html' %}
<hr class="m-0" />

<!-- Certificados -->
{% include 'app/_certifies.html' %}
<hr class="m-0" />

<!-- Contato -->
<!--
<section class="resume-section" id="interests">
<div class="resume-section-content">
    <h2 class="mb-5">Interesses</h2>
    <p>I enjoy learning and passing on knowledge acquired. I like it even more when I can be useful in contributing in some way to a certain goal being achieved.</p>
</div>
</section>
<hr class="m-0" />
-->
{% endblock %}